<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <body>
    <div class="card">
        <div class="card-header text-lg-center d-flex d-xxl-flex justify-content-xxl-center"
             style="width: 100%;height: 100%;">
            <ul class="nav card-header-s d-xxl-flex justify-content-xxl-center card-header-tabs" role="tablist"
                style="width: 100%;">
                <li class="nav-item" style="width: 30%;"><a id="item-1-1-tab" class="nav-link text-md-center" role="tab"
                                                            aria-controls="item-1-1" aria-selected="true"
                                                            href="#item-1-1" style="text-align: center;"
                                                            data-bs-toggle="tab"><span style="color: rgb(0, 0, 0);">반찬 간단식</span></a>
                </li>
                <li class="nav-item" style="width: 30%;"><a id="item-1-2-tab" class="nav-link" role="tab"
                                                            aria-controls="item-1-2" aria-selected="false"
                                                            href="#item-1-2" data-bs-toggle="tab"
                                                            style="text-align: center;"><span
                        style="color: rgb(0, 0, 0);"> 반찬 푸짐식</span></a></li>
            </ul>
        </div>
        <div class="card-body">
            <div id="nav-tabContent" class="tab-content">
                <div id="item-1-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-1-tab"
                     style="width: 100%;">
                    <section class="py-5" style="width: 100%;">
                        <div class="container">
                            <div class="col-md-8 col-xl-6 text-center mx-auto">
                                <h2 class="fw-bold">간단 반찬식</h2>
                                <p class="text-muted">1가지의 국과 1가지 메인 2가지의 반찬을 제공합니다.</p>
                            </div>
                            <div class="row gy-3">
                                <div class="col-md-4">
                                    <section>
                                        <div class="container">
                                            <div class="row gy-3">
                                                <div class="col-12 col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 15일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">된장찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">제육볶음</h5>
                                                            <h6> 숙주나물, 김치 </h6>
                                                            <p class="card-text"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 19일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">소고기뭇국</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">홍합탕</h5>
                                                            <p class="card-text"></p>
                                                            <h6>버섯볶음, 김치 </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월22일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">미역국</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">버섯불고기</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 깍두기, 감자조림</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section>
                                        <div class="container">
                                            <div class="row gy-3">
                                                <div class="col-lg-4 col-xxl-10"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 16일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">김치찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">오징어볶음</h5>
                                                            <h6>콩나물, 김치 </h6>
                                                            <p class="card-text"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 20일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">순두부찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">돼지갈비찜</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 부침개, 김치 </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월23일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">동태찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">닭강정</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 고구마맛탕, 김치 </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section>
                                        <div class="container">
                                            <div class="row gy-2" style="width: 100%;">
                                                <div class="col-lg-4 col-xxl-11"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 17일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">시래기된장국</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">찜닭</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 참나물, 김치 </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-11"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 21일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">비지찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">제육볶음</h5>
                                                            <h5 class="text-muted card-subtitle mb-2"></h5>
                                                            <p class="card-text"></p>
                                                            <h6>무말랭이, 고사리</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-11"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 24일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">갈비탕</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">오리볶음</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 소세지야채볶음, 김치 </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab">
                    <section class="py-5" style="width: 100%;">
                        <div class="container">
                            <div class="col-md-8 col-xl-6 text-center mx-auto">
                                <h2 class="fw-bold">푸짐 반찬식</h2>
                                <p class="text-muted">1가지의 국과 2가지 메인 3가지의 반찬을 제공합니다.</p>
                            </div>
                            <div class="row gy-3">
                                <div class="col-md-4">
                                    <section>
                                        <div class="container">
                                            <div class="row gy-3">
                                                <div class="col-12 col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 15일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">된장찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">제육볶음 , 코다리강정</h5>
                                                            <h6> 숙주나물, 김치, 감자볶음</h6>
                                                            <p class="card-text"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 19일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">소고기뭇국</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">꼬막야채무침, 닭갈비</h5>
                                                            <p class="card-text"></p>
                                                            <h6>버섯볶음, 김치 , 미역줄기</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월22일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">미역국</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">버섯불고기 ,
                                                                치즈계란말이</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 깍두기, 감자조림 , 오이양파</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section>
                                        <div class="container">
                                            <div class="row gy-3">
                                                <div class="col-lg-4 col-xxl-10"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 16일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">김치찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">오징어볶음 , 감자전</h5>
                                                            <h6>콩나물, 김치 </h6>
                                                            <p class="card-text"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 20일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">순두부찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">돼지갈비찜 , 가자미구이</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 부침개, 김치 , 깻잎</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-10 offset-xxl-0"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월23일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">동태찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">닭강정 , 고등어무조림</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 고구마맛탕, 김치, 연근조림</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-4">
                                    <section>
                                        <div class="container">
                                            <div class="row gy-2" style="width: 100%;">
                                                <div class="col-lg-4 col-xxl-11"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 17일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">시래기된장국</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">찜닭, 두부김치</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 참나물, 김치 </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-11"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 21일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">비지찌개</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">제육볶음 , 야채전</h5>
                                                            <h5 class="text-muted card-subtitle mb-2"></h5>
                                                            <p class="card-text"></p>
                                                            <h6>무말랭이, 고사리 , 사과 샐러드</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xxl-11"
                                                     style="background: rgba(255,255,255,0);">
                                                    <div class="card mb-4 box-shadow rounded-0">
                                                        <div style="height: 60px;background: #ebd7d7;">
                                                            <h5 class="d-xxl-flex justify-content-xxl-center"
                                                                style="margin-top: 15px;">1월 24일</h5>
                                                        </div>
                                                        <div class="card-body" style="background: #fffbfb;">
                                                            <h4 class="card-title">갈비탕</h4>
                                                            <h5 class="text-muted card-subtitle mb-2">오리볶음 , 제육볶음</h5>
                                                            <p class="card-text"></p>
                                                            <h6> 소세지야채볶음, 김치 , 동그랑땡</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                </section>
            </div>
        </div>
    </div>
    </section>
    </div>
    </div>
    </div>
    </div>
    </body>
</th:block>