<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <div class="shopping-cart">
        <div class="px-4 px-lg-0">
            <div class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="bg-light border-0" scope="col">
                                            <div class="text-uppercase p-2 px-3"><span>품목</span></div>
                                        </th>
                                        <th class="bg-light border-0" scope="col">
                                            <div class="text-uppercase py-2"><span>가격</span></div>
                                        </th>
                                        <th class="bg-light border-0" scope="col">
                                            <div class="text-uppercase py-2"><span>수량</span></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each=" order : ${MyOrder}">
                                        <td class="border-0" scope="row">
                                            <div class="p-2"><img th:src="|/images/${order.DYEMenu.picture}|"
                                                                  class="rounded img-fluid shadow-sm"
                                                                  style=" width: 100px; height: 100px;"
                                                                  alt="null" width="70"/>
                                                <div class="d-inline-block ml-3 align-middle">
                                                    <h5 class="mb-0"><a th:text="${order.DYEMenu.title}"
                                                                        class="d-inline-block text-dark align-middle"
                                                                        href="#">Timex Unisex Originals</a></h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="border-0 align-middle"><strong
                                                th:text="${order.price}"></strong><strong>원</strong>
                                        </td>
                                        <td class="border-0 align-middle"><strong th:text="${order.quantity}"></strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <form action="/delivery/kakaoPay" method="post">
                        <div class="row py-5 p-4 bg-white rounded shadow-sm">
                            <div class="col">
                                <div class="text-uppercase bg-light rounded-pill px-4 py-3 font-weight-bold">
                                    <span>주문 정보</span></div>
                                <div sec:authorize="isAuthenticated()" class="p-4">
                                    <div></div>
                                    <div class="d-xl-flex justify-content-xl-center"><input class="form-control"
                                                                                            type="text"
                                                                                            th:value="${greeting}"
                                                                                            placeholder="수령인" disabled/><input
                                            class="form-control" type="tel" name="phone" placeholder="연락처"
                                            style="margin-left: 11px;"/>
                                        <div></div>
                                    </div>
                                    <input class="form-control" type="email" name="order_auth_email"
                                           style="margin-top: 14px;"
                                           placeholder="이메일"/>
                                </div>
                                <div sec:authorize="!isAuthenticated()" class="p-4">
                                    <div></div>
                                    <div class="d-xl-flex justify-content-xl-center"><input class="form-control"
                                                                                            type="text"
                                                                                            placeholder="수령인"/><input
                                            class="form-control" type="tel" placeholder="연락처"
                                            style="margin-left: 11px;"/>
                                        <div></div>
                                    </div>
                                    <input class="form-control" type="email" name="order_email"
                                           style="margin-top: 14px;"
                                           placeholder="이메일"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="text-uppercase bg-light rounded-pill px-4 py-3 font-weight-bold">
                                    <span>배송 정보</span></div>
                                <div class="p-4">
                                    <div class="d-xl-flex justify-content-xl-center"><input class="form-control"
                                                                                            type="text" name="userName"
                                                                                            placeholder="수령인"/>
                                        <input class="form-control" type="tel" placeholder="연락처" name="phone"
                                            style="margin-left: 11px;"/></div>
                                </div>
                                <div class="p-4">
                                    <div class="d-xl-flex justify-content-xl-center">
                                        <input type="text" id="sample4_postcode" class="form-control"
                                               placeholder="우편번호">
                                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"
                                               class="d_btn">
                                    </div>
                                    <br>
                                    <div class="d-xl-flex justify-content-xl-center">
                                        <input type="text" id="sample4_roadAddress" name="address" class="form-control"
                                               placeholder="도로명주소">
                                        <input type="text" id="sample4_jibunAddress" class="form-control"
                                               placeholder="지번주소">
                                    </div>
                                    <span id="guide" style="color:#999;display:none"></span>
                                    <div class="d-xl-flex justify-content-xl-center">
                                        <input type="text" id="sample4_detailAddress" name="street" class="form-control"
                                               placeholder="상세주소">
                                        <input type="text" id="sample4_extraAddress" class="form-control"
                                               placeholder="참고항목">
                                    </div>
                                </div>
                                <div class="text-uppercase bg-light rounded-pill px-4 py-3 font-weight-bold">
                                    <span>결제 방식</span></div>
                                <div name="checkGroup" class="p-4">
                                    <div class="form-check"><input id="formCheck-1" class="form-check-input"
                                                                   name="checkPay" disabled th:value="normalPay"
                                                                   type="radio"/><label class="form-check-label"
                                                                                        for="formCheck-1">무통장 결제</label>
                                    </div>
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input"
                                                                   name="checkPay"
                                                                   type="radio"/><label class="form-check-label"
                                                                                        for="formCheck-2">카카오페이</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-12">
                                <div class="text-uppercase bg-light rounded-pill px-4 py-3 font-weight-bold">
                                    <span>결제 정보</span></div>
                                <div class="p-4">
                                    <ul class="list-unstyled mb-4">
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">결제 합계</strong><strong
                                                th:text="${#aggregates.sum(MyOrder.![price])}+원">0원</strong></li>
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">배송비</strong><strong>0원</strong></li>
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                                class="text-muted">종합</strong>
                                            <h5 class="font-weight-bold"
                                                th:text="${#aggregates.sum(MyOrder.![price])}+원">0원</h5>
                                        </li>
                                    </ul>
                                    <button disabled
                                            class="btn btn-dark rounded-pill py-2 btn-block">결제 하기
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-dark rounded-pill py-2 btn-block" role="submit">카카오 페이 결제 하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js">
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 추가 정보 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }

    </script>
    <script>
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 추가 정보 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>
</th:block>