<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <title>DoyouEat?</title>
        <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome5-overrides.min.css}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <link th:href="@{/assets/fonts/login/font-awesome.min.css}" rel="stylesheet">
        <!-- Libraries Stylesheet -->
        <link th:href="@{/assets/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
        <!-- Template Stylesheet -->
        <link th:href="@{/assets/css/style.css}" rel="stylesheet">
        <link th:href="@{/assets/css/logincss/login.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/assets/css/Pretty-Footer-.css}">
        <link rel="stylesheet" th:href="@{/assets/css/Image-Tab-Gallery-Horizontal.css}">
        <link rel="stylesheet" th:href="@{/assets/css/Minimal-tabs-styles.css}">
        <link rel="stylesheet" th:href="@{/assets/css/Minimal-tabs.css}">
        <link rel="stylesheet" th:href="@{/assets/css/Multi-step-form.css}">
    </head>
</th:block>
</html>