<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="NavFragment">
    <!-- 툴바 시작 -->
    <div class="container-fluid px-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div style="width: 10%;" lass="d-inline-flex align-items-end justify-content-end">
                </div>
                <div class="d-inline-flex align-items-center justify-content-center">
                    <a th:href="@{/main}" class="navbar-brand">
                        <h2 class="m-0 text-uppercase text-black">
                            <img style="width: 80px;" th:src="@{/assets/img/main_icon.png}">DoyouEat</h2></a>
                </div>
                <div class="d-inline-flex align-items-center justify-content-center">
                    <a th:href="@{/login}" class="navbar-brand">
                        <h1><i style="margin-right: 30px;" class="bi bi-box-arrow-in-right"></i></h1>
                    </a>
                    <a th:href="@{/mypage}" class="navbar-brand">
                        <h1><i style="margin-right: 30px;" class="bi bi-person-fill"></i></h1>
                    </a>
                    <a th:href="@{/mybag}" class="navbar-brand">
                        <h1><i style="margin-right: 30px;" class="bi bi-bag-fill"></i></h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 툴바 끝 -->


    <!-- 네비게이션 시작 -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"><img style="width: 80px;" th:src="@{/assets/img/main_icon.png}">DoyouEat
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">카테고리</a>
                    <div class="dropdown-menu m-0">
                        <a href="service.html" class="dropdown-item">Our Service</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a th:href="@{/monthfood}" class="nav-item nav-link">이달의 식단</a>
                <a th:href="@{/event}" class="nav-item nav-link">이벤트</a>
                <a href="team.html" class="nav-item nav-link">주문하기</a>
                <a th:href="@{/faq}" class="nav-item nav-link">고객센터</a>
            </div>
        </div>
    </nav>
    <!-- 네비게이션 끝 -->
</th:block>
</html>