<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
    <script th:src="@{/assets/bootstrap/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/bold-and-bright.js}"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script th:src="@{/assets/js/Image-Tab-Gallery-Horizontal.js}"></script>
    <script th:src="@{/assets/js/loginvalid.js}"></script>
    <script th:src="@{/assets/js/Multi-step-form.js}"></script>
    <script th:src="@{/assets/js/KakaoPay.js}"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
</th:block>
</html>
