<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">
    <body>
    <div>
       <p>카카오페이 결제가 정상적으로 완료되었습니다.</p>

        <p th:text="${info.amount}"></p><br/>
        <p th:text="${info.item_name}"></p><br/>
        <p th:text="${info.quantity}"></p><br/>
        <p th:text="${info.amount.total}"></p><br/>
        <p th:text="${info.payment_method_type}"></p><br/>

    </div>
    </body>
</th:block>
